<nav data-module="pagination">
	{% for part in paginate.parts %}
		{% if part.is_link %}
			{{ part.title | link_to: part.url}}
		{% else %}
		<span>{{ part.title }}</span>
		{% endif %}
	{% endfor %}
</nav>
