<h1>{{ page_title }}</h1>

{% for collection in collections %}
	<article>
		{% if collection.image != blank %}
			<a href="{{ collection.url }}">
				{% render 'image', image: collection.image %}
			</a>
		{% endif %}

		<a href="{{ collection.url }}">
			<h1>{{ collection.title }}</h1>
		</a>
	</article>
{% endfor %}
